@import"variables";

footer{
    background-color: $color-footer;
    color: $color-footer-font;
    justify-content: space-between;
    
    .col-3{
        ul{
            li{
                list-style-type: none;
                display: inline-block;
                a{
                    img{
                        width:30px;
                        height:30px;
                        object-fit:cover;
                        object-position:50% 50%
                    }
                }

            }
    
        }
    }
}