@import"variables";

#NosotrosH{
    background-image: url("https://media.perezlara.com/2021/02/Adopcio%CC%81n-de-mascotas-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .9;
    padding: 150px 100px 100px;
    align-items: center;
    
    .col-12{
        h1{
            color: $color-nosotrosh-font;
        }
        h2{
            color: $color-nosotrosh-font;
        }
        p{
            color: $color-nosotrosh-font;
        }
        ol{
            color: $color-nosotrosh-font;
        }
    }
    .animate-bottom{position:relative;}       
     @keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}

  }

  @media only screen and (max-width:1023px ) {
    #NosotrosH{
        padding: 140px 5%;
        .col-12{
            p{
                color: $color-nosotrosh-font;
            }
        }
    }
}